Repository Azure/AgentBaker, pull requests merged in 2021-03, with the labels that each got.

#628 chore: Enable HNS fix in 2C
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows

#632 doc: Add release notes for AKS Windows VHD 17763.1790.210302
  vhdbuilder/release-notes/AKSWindows/2019/17763.1790.210302.txt
Labels: windows

#657 chore: Update Windows 3B patch
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows

#656 Add path to import VHD from storage account
  .pipelines/.vsts-vhd-builder-release.yaml
  .pipelines/.vsts-vhd-builder.yaml
  .pipelines/templates/.builder-release-template.yaml
  packer.mk
  vhdbuilder/packer/import-image.sh
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/vhd-image-builder-gen2.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
  vhdbuilder/packer/vhd-image-builder-sig.json
  vhdbuilder/packer/vhd-image-builder.json
Labels: Mariner

#658 doc: Add release notes for AKS Windows VHD with 3B patch
  vhdbuilder/release-notes/AKSWindows/2019/17763.1817.210310.txt
Labels: windows

#663 chore: Update Azure CNI to v1.2.7
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/test/linux-vhd-content-test.sh
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: cni

#668 Create ENABLE_FIPS env var for Mariner VHD builds
  .pipelines/.vsts-vhd-builder-release.yaml
  vhdbuilder/packer/vhd-image-builder-mariner.json
Labels: Mariner

#667 chore: Update Calico Windows to v3.18.1
  parts/windows/windowscalicofunc.ps1
  pkg/agent/testdata/AKSWindows2004+K8S119+hyperv/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows

#689 Update distro string for cblmariner
  pkg/agent/datamodel/types.go
Labels: Mariner

#688 fix: disable docker when containerd is used
  parts/windows/kuberneteswindowssetup.ps1
  parts/windows/windowskubeletfunc.ps1
  pkg/agent/testdata/AKSWindows2004+K8S119+hyperv/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
  vhdbuilder/packer/configure-windows-vhd.ps1
Labels: windows

#701 Remove IsUbuntu OSSKU check
  pkg/agent/baker.go
Labels: Mariner

#708 chore: enable windows containerd check-in
  .pipelines/.vsts-vhd-builder-windows.yaml
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows

#717 CBLMariner restore containerd config from rpmsave
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  pkg/templates/templates_generated.go
Labels: Mariner
