Repository Azure/AgentBaker, pull requests merged in 2021-04, with the labels that each got.

#710 fix: enables DNS resolution of SMB shares for containerD
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows

#725 Enable CBLMariner pipeline build by default
  .pipelines/.vsts-vhd-builder-release.yaml
Labels: Mariner

#713 chore: add release notes 17763.1817.210330
  vhdbuilder/release-notes/AKSWindows/2019/17763.1817.210330.txt
Labels: windows

#727 feat: Use NSSM for containerd and collect containerd logs
  parts/windows/containerdtemplate.toml
  parts/windows/kuberneteswindowssetup.ps1
  parts/windows/windowscontainerdfunc.ps1
  pkg/agent/testdata/AKSWindows2004+K8S119+hyperv/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
  vhdbuilder/scripts/windows/collect-windows-logs.ps1
Labels: windows

#744 Log file name which contains version info when downloading the file f…
  parts/windows/kuberneteswindowsfunctions.ps1
  pkg/agent/testdata/AKSWindows2004+K8S119+hyperv/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
Labels: windows

#745 chore: update containerd package
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows

#750 Update AKS Windows VHD with 4B
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows

#751 doc: Add release notes for AKS Windows VHD with 4B
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.1879.20210414.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.1879.20210414.txt
Labels: documentation, windows

#757 fix: start containerd if it's not running (#753)
  parts/windows/kuberneteswindowssetup.ps1
  parts/windows/windowscontainerdfunc.ps1
  pkg/agent/testdata/AKSWindows2004+K8S119+hyperv/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
Labels: windows

#758 doc: Rename release notes for AKS Windows VHD with 4B
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.1879.210414.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.1879.210414.txt
Labels: windows

#759 Update registry settings in release notes
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows

#746 chore: register containerd component using Component Governance
  NOTICE.md
  vhdbuilder/cgmanifest.json
Labels: windows

#768 chore: cache signedscripts v0.0.13
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows

#773 Add retries while fetching Windows Defender signatures
  vhdbuilder/packer/configure-windows-vhd.ps1
Labels: windows

#772 chore: update AKS Windows VHD with 4C
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
Labels: windows

#592 fix: retry when docker is not running
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows

#778 chore: remove duplicate containerd task collecion
  vhdbuilder/scripts/windows/collect-windows-logs.ps1
Labels: windows

#786 Check whether a folder exists before creating it
  parts/windows/kuberneteswindowsfunctions.ps1
  parts/windows/kuberneteswindowssetup.ps1
  parts/windows/windowsazurecnifunc.ps1
  parts/windows/windowscontainerdfunc.ps1
  parts/windows/windowscsehelper.ps1
  parts/windows/windowskubeletfunc.ps1
  pkg/agent/testdata/AKSWindows2004+K8S119+hyperv/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
Labels: windows

#787 ignore docker event collection if not exist
  vhdbuilder/scripts/windows/collect-windows-logs.ps1
Labels: bug, windows

#790 feat: add Windows pause image to 3.4.1
  parts/windows/windowskubeletfunc.ps1
  pkg/agent/testdata/AKSWindows2004+K8S119+hyperv/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows
