Repository Azure/AgentBaker, pull requests merged in 2021-09, with the labels that each got.

#1018 chore: upgrade to csi-node-driver-registrar:v2.3.0
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: VHD

#1085 fix: Remove 'NT AUTHORITY\Authenticated Users' write permissions on files in c:\k
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
Labels: windows, VHD

#1098 fix: Enable the logging manifest for CCGPlugin
  parts/windows/windowsconfigfunc.ps1
  parts/windows/windowscsehelper.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
Labels: windows

#1110 chore: Update cached k8s versions in AKS Windows VHD
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1126 Add k8s 1.22.1 and remove old cached files
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1145 chore: Cache Windows signedscripts-v0.0.15.zip
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1149 fix: Use Invoke-RestMethod instead of curl to download packages
  parts/windows/kuberneteswindowsfunctions.ps1
  parts/windows/windowsazurecnifunc.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
Labels: windows

#1152 Remove telemetry code in Windows CSE code
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
Labels: windows

#1158 chore: Update Windows VHD with 9B
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#1153 feat: set metrics-bind-address in Windows to 0.0.0.0:10249
  parts/windows/kuberneteswindowsfunctions.ps1
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/baker.go
  pkg/agent/datamodel/types.go
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
Labels: windows

#1159 doc: Add release notes for AKS Windows VHD with 2021-9B
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.2183.210915.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2183.210915.txt
Labels: windows

#1160 chore: Update AKS Windows SIG image version to 17763.2183.210915
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/sig_config_test.go
Labels: windows

#1166 Add 1.22.2 kube-binary and kube-proxy to Linux and Windows VHDs
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/kube-proxy-images.json
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Labels: windows, VHD

#1167 Add crictl version 1.22
  vhdbuilder/packer/components.json
  vhdbuilder/packer/install-dependencies.sh
Labels: VHD

#1174 chore: Add Windows 2021 9C
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#1175 chore: Cache Windows Azure CNI v1.4.12
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1176 doc: Add release notes for AKS Windows VHD with 2021-9C
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.2213.210922.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2213.210922.txt
Labels: windows

#1182 chore: Update AKS Windows SIG image with 2021-9C
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/sig_config_test.go
Labels: windows
