Repository Azure/AgentBaker, pull requests merged in 2021-08, with the labels that each got.

#990 fix: Fix the issue when WindowsGmsaPackageUrl is not set
  parts/windows/kuberneteswindowssetup.ps1
  parts/windows/windowsconfigfunc.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
Labels: windows

#984 cache windows containerd v0.0.42
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows

#988 chore: Remove unused Windows cse code
  parts/windows/kuberneteswindowssetup.ps1
  parts/windows/windowsazurecnifunc.ps1
  parts/windows/windowscnifunc.ps1
  parts/windows/windowsconfigfunc.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
Labels: windows

#993 chore: Remove old images and packages
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows

#1000 chore: Cache k8s 1.19.13 and 1.20.9
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows

#1011 chore: add win release notes 17763.2114.210811
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.2114.210811.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2114.210811.txt
Labels: windows

#1013 remove unuseful code Set-AllowedSecurityProtocols
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, VHD

#1014 Add calico 3.20.0 and remove old signedscripts-v0.0.13 and calico-windows-v3.18.1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1007 chore: Update gmsa
  parts/windows/windowsconfigfunc.ps1
  parts/windows/windowscsehelper.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
  vhdbuilder/scripts/windows/gmsa/README
  vhdbuilder/scripts/windows/gmsa/registerplugin.reg
Labels: windows, VHD

#1030 chore: Cache CCGPlugin v1.1.0 in Windows VHD
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1029 feat: Collect CCGPlugin logs for Windows gMSAv2
  vhdbuilder/scripts/windows/collect-windows-logs.ps1
Labels: windows, VHD

#1037 chore: Cache k8s hotfix versions v1.20.7-hotfix.20210816 and v1.21.2-hotfix.20210816 （Windows）
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1028 chore: Cache Azure CNI v1.4.9
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/install-dependencies.sh
Labels: VHD

#1083 Abelch/cache k8s hotfix
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Labels: windows, VHD
