Repository Azure/AgentBaker, pull requests merged in 2022-07, with the labels that each got.

#1943 fix: Remove the code to exclude UDP source port 65330 in Windows nodes
  staging/cse/windows/README
  staging/cse/windows/configfunc.ps1
Labels: windows, windows cse package

#1944 feat: Collect disk usage in the Windows node
  vhdbuilder/scripts/windows/collect-windows-logs.ps1
Labels: windows, VHD

#1945 feat: Support mutilple Windows containerd versions in cse package
  staging/cse/windows/README
  staging/cse/windows/azurecnifunc.tests.ps1
  staging/cse/windows/containerdfunc.ps1
  staging/cse/windows/containerdfunc.tests.ps1
  staging/cse/windows/cse.tests.ps1
Labels: windows, windows cse package

#1946 chore: Cache AKS Windows CSE package v0.0.11
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1955 feat: Use Install-Containerd-Based-On-Kubernetes-Version
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
Labels: windows

#1963 chore: Update Windows base image to 2022.07B
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#1967 chore: Clean unused Windows cache
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1968 chore: bump cnm images
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1974 fix: Fix the issue in building win vhd with sigmode
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/cleanup.sh
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/sysprep.ps1
  vhdbuilder/packer/test/run-test.sh
  vhdbuilder/packer/windows-vhd-builder-sig.json
Labels: windows, build

#1936 build: Exclude the UDP source port 65330 in Windows VHD
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: bug, windows, build

#2000 chore: Update AKS Windows images to 2022.07C
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/sig_config_test.go
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.3232.220722.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.3232.220722.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.859.220722.txt
Labels: windows

#2008 chore: Add missing kubernetes cache for Windows
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2016 chore: Set the latest Windows SIG image versions to empty
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/sig_config_test.go
Labels: windows

#2017 chore: cache secrets-store-csi-driver v1.2.2
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD
