Repository Azure/AgentBaker, pull requests merged in 2022-12, with the labels that each got.

#2477 doc: Add release notes for new AKS Windows images with WCIFS fix
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.3650.221202.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.3650.221202.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.1249.221202.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.1249.221202.txt
Labels: documentation, windows

#2490 chore: remove win-bridge.exe and vhdbuilder/scripts/windows/collect-windows-logs.ps1
  staging/cse/windows/debug/collect-windows-logs.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/scripts/windows/collect-windows-logs.ps1
Labels: windows, VHD

#2507 chore: Update Windows base images with 2022.12B
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#2505 chore: create windows e2e pipeline
  .pipelines/e2e-windows.yaml
  e2e/e2e-create-windows-nodepool.sh
  e2e/e2e-windows-scenario.sh
  e2e/e2e_test.go
  e2e/matrix-windows.json
  e2e/pod-windows-template.yaml
  e2e/scenarios/windows/property-windows.json
  e2e/windows_vmss_template.json
Labels: windows

#2515 feat: Support Windows calico v3.23.3 in AKS Windows CSE scripts
  staging/cse/windows/calicofunc.ps1
Labels: windows, windows cse package, calico

#2516 fix: Enable WinDSR with the new Azure CNI config
  staging/cse/windows/azurecnifunc.ps1
  staging/cse/windows/azurecnifunc.tests.ps1
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.Default.Swift.conflist
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.Expect.Swift.conflist
Labels: windows, windows cse package

#2523 fix: fix bug of creating new windows cluster and add branch condition
  .pipelines/e2e-windows.yaml
  e2e/e2e-starter.sh
Labels: windows

#2524 fix: fix useless use of cat
  e2e/e2e-windows-scenario.sh
Labels: windows

#2525 fix: Start Windows calico services for v3.23.3
  staging/cse/windows/calicofunc.ps1
Labels: windows, calico

#2533 fix: run renamed unit test
  Makefile
  parts/windows/windowscsehelper.tests.ps1
  pkg/templates/templates_generated.go
  staging/cse/windows/cse.tests.ps1
Labels: windows, test

#2526 test: Improve unit tests for Windows CSE azurecnifunc
  staging/cse/windows/azurecnifunc.tests.ps1
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.Default.Overlay.conflist
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.Expect.DisableOutboundNat.conflist
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.Expect.DisableWinDSR.conflist
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.Expect.EnableWinDSR.conflist
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.Expect.Overlay.conflist
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.Expect.Swift.DisableOutboundNAT.conflist
Labels: windows, windows cse package

#2540 chore: Bump Windows CSE script package to v0.0.21
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows

#2546 chore: collect windows cse logs by jumpbox
  .pipelines/e2e-windows.yaml
  e2e/e2e-windows-scenario.sh
  e2e/pod-windows-template.yaml
  e2e/upload-cse-logs.ps1
Labels: windows
