Repository Azure/AgentBaker, pull requests merged in 2022-04, with the labels that each got.

#1686 chore: upgrade Azure Disk CSI driver to v1.15
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1708 chore: Cache Windows gMSA CCGAKVPlugin package v1.1.5
  doc/WindowsGmsaCCGAKVPlugin.md
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1709 chore: Update AKS Windows base image to 2022-4b
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#1710 chore: Update AKS Windows SIG image to 2022-4b
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/sig_config_test.go
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.2803.220413.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2803.220413.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.643.220413.txt
Labels: windows, VHD

#1720 Add a check for customized image
  pkg/agent/bakerapi.go
  pkg/agent/bakerapi_test.go
  pkg/agent/datamodel/types.go
Labels: bug

#1729 build: create nsg for Windows build VM
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-builder-windows.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/cleanup.sh
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/windows-vhd-builder-sig.json
  vhdbuilder/packer/windows-vhd-builder.json
Labels: windows, build

#1737 build: Update nsg tag for Windows VHD build VM
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/windows-vhd-builder-sig.json
  vhdbuilder/packer/windows-vhd-builder.json
Labels: windows, build

#1749 chore: Add Windows 2022-4C patch for Windows2022
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1769 build: Support to set windows patch by environment
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-builder-windows.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/run-test.sh
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-vhd-builder-sig.json
  vhdbuilder/packer/windows-vhd-builder.json
Labels: windows, build
