Repository Azure/AgentBaker, pull requests merged in 2022-06, with the labels that each got.

#1864 fix: Install cat file for Windows docker 20.10.9
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, VHD

#1883 chore: Cache AKS Windows containerd package v0.0.46 (v1.6.6)
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1886 chore: Update Windows base image to 2022-6b
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#1890 chore:Windows VHD remove old omsagent image cache
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1894 build: Windows use containerd v0.0.46 and remove useless cache
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1907 fix: update Windows 2022 base image version
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#1924 feat: Update the command to exclude UDP source port in Windows node
  staging/cse/windows/configfunc.ps1
Labels: windows, windows cse package

#1925 chore: Cache new Windows CSE package v0.0.10
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1928 chore: Update new AKS Windows SIG image versions
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/sig_config_test.go
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.3046.220624.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.3046.220624.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.768.220624.txt
Labels: windows

#1791 build: Support using a Windows VHD
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-builder-windows.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/test/run-test.sh
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-vhd-builder-sig.json
  vhdbuilder/packer/windows-vhd-builder.json
Labels: windows, build

#1932 build: Support to load Windows container images from local tar files
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-builder-windows.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-vhd-builder-sig.json
  vhdbuilder/packer/windows-vhd-builder.json
Labels: windows, build

#1935 fix: Remove temporary tar file
  vhdbuilder/packer/configure-windows-vhd.ps1
Labels: windows, build
