Repository Azure/AgentBaker, pull requests merged in 2022-10, with the labels that each got.

#2254 fix: add gen2 as suffix in generate-sas for sku_name
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-builder-windows.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/init-variables.sh
Labels: windows, VHD, build

#2294 chore: Improve win vhd test
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, build

#2275 chore: Add new Windows Kubernetes hotfixes for v1.24
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/kube-proxy-images.json
  vhdbuilder/packer/test/linux-vhd-content-test.sh
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, VHD

#2302 chore: Update Windows base images to 2022.10B
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#2305 doc: Add release notes for AKS Windows images with 2022.10B
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/sig_config_test.go
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.3532.221012.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.3532.221012.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.1129.221012.txt
Labels: documentation, windows

#2322 build: Remove hash rules in Windows VHD test script
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, build

#2304 feat: Update dynamic port ranges in Windows nodes
  parts/windows/kuberneteswindowssetup.ps1
  parts/windows/windowscsehelper.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/configfunc.ps1
  staging/cse/windows/configfunc.tests.ps1
  staging/cse/windows/cse.tests.ps1
Labels: windows, windows cse package

#2329 build: Always set DRY_DRUN to True in Windows check-in test pipeline
  .pipelines/.vsts-vhd-builder-windows.yaml
Labels: windows, build

#2338 chore: Update Windows base images to 2022.10OOB
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#2339 doc: Add release notes for AKS Windows images with 2022.10OOB
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/sig_config_test.go
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.3534.221019.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.3534.221019.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.1131.221019.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.1131.221019.txt
Labels: documentation, windows

#2365 fix: Mask iptables systemd service
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/scripts/linux/tool_installs.sh
Labels: bug, Mariner

#2373 chore: Install Windows 2022-10C patch
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2380 doc: Add release notes for AKS Windows images with 2022.10C
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/sig_config_test.go
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.1194.221026.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.1194.221026.txt
Labels: documentation, windows
