Repository Azure/AgentBaker, pull requests merged in 2022-11, with the labels that each got.

#2397 build: Enable a HNS fix in WS2019 with 2022.11B
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, VHD

#2396 fix: Don't add cluster CIDR to CNI Conflist if AzureCNIOverlay is Enabled 1/2
  staging/cse/windows/azurecnifunc.ps1
  staging/cse/windows/azurecnifunc.tests.ps1
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.Overlay.conflist
Labels: windows, windows cse package

#2419 chore: Cache new Windows calico v3.23.3
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD, calico

#2418 chore: Update Windows base images with 2022.11B
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#2420 build: Use a different agentpool to build Windows VHDs for prod
  .pipelines/.vsts-vhd-builder-release-windows.yaml
Labels: windows, build

#2417 chore: Update RegKey HNSControlFlag when disable Windows OutboundNAT
  staging/cse/windows/azurecnifunc.ps1
Labels: windows, windows cse package

#2425 build: Change pipeline agentpool for Windows VHD build
  .pipelines/.vsts-vhd-builder-windows.yaml
Labels: windows, build

#2426 feat: Add AKS logs in Windows GuestVMLogs
  parts/windows/csecmd.ps1
  parts/windows/kuberneteswindowssetup.ps1
  parts/windows/sendlogs.ps1
  parts/windows/windowscsehelper.ps1
  pkg/agent/baker.go
  pkg/agent/const.go
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CSECommand
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CSECommand
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CSECommand
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CSECommand
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CSECommand
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/configfunc.ps1
  staging/cse/windows/provisioningscripts/loggenerator.ps1
Labels: windows, windows cse package

#2432 chore: Cache new AKS Windows script pacakge v0.0.19
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2427 chore: Update versions and release notes for AKS Windows images with 2022.11B
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/sig_config_test.go
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.3650.221110.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.3650.221110.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.1249.221110.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.1249.221110.txt
Labels: windows

#2435 feat: Support collecting AKS Windows logs in GuestVMLogs
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/baker.go
  pkg/agent/datamodel/types.go
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/variables.go
  pkg/templates/templates_generated.go
Labels: windows

#2436 chore: Set Windows SIG image verions to fake values
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/sig_config_test.go
Labels: windows

#2445 chore: update windows pause image to 3.9
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2456 upgrade Azure disk csi driver to v1.25.0
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: VHD

#2454 feat: Enable the WCIFS fix in 2022-10B in AKS Windows VHDs
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, VHD
