Repository Azure/AgentBaker, pull requests merged in 2022-03, with the labels that each got.

#1582 chore: collect bootstrap-config in Windows nodes
  vhdbuilder/scripts/windows/collect-windows-logs.ps1
Labels: windows, VHD

#1569 Update Windows VHD cache with adding Azure CNI v1.4.19
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1600 Exclude dockerd in Microsoft Defender
  staging/cse/windows/kubernetesfunc.ps1
Labels: windows cse package

#1601 Cache AKS Windows CSE scripts package v0.0.7
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1606 chore: Update AKS Windows SIG version to 17763.2686.220309 (2022-3b)
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/sig_config_test.go
Labels: windows, VHD

#1605 chore: Cache Windows containerd 1.6
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1607 chore: Add release note for Windows SIG 17763.2686.220309 (2022-3b)
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.2686.220309.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2686.220309.txt
Labels: windows, VHD

#1623 Use provisioning scripts in CSEScriptsPackage.
  parts/windows/windowscsehelper.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/kubernetesfunc.ps1
  staging/cse/windows/provisioningscripts/cleanupnetwork.ps1
  staging/cse/windows/provisioningscripts/hostsconfigagent.ps1
  staging/cse/windows/provisioningscripts/kubeletstart.ps1
  staging/cse/windows/provisioningscripts/kubeproxystart.ps1
  staging/cse/windows/provisioningscripts/run-process.cs
  staging/cse/windows/provisioningscripts/windowslogscleanup.ps1
  staging/cse/windows/provisioningscripts/windowsnodereset.ps1
  staging/cse/windows/provisioningscripts/windowssecuretls.ps1
Labels: windows cse package

#1624 chore: Cache new AKS Windows CSE scripts package v0.0.8
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/windows-vhd-builder-sig.json
  vhdbuilder/packer/windows-vhd-builder.json
Labels: windows, VHD

#1630 chore: Cache AKS Windows CNI v1.4.21
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows

#1634 Add tag in building VM
  vhdbuilder/packer/windows-vhd-builder-sig.json
Labels: windows, VHD

#1631 Use Windows containerd 1.6
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/windows-vhd-builder.json
Labels: windows, VHD

#1648 chore: remove useless omsagent images
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1651 chore: Update Windows 2022 base image to the latest
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#1650 Datamodel sig_config supports Windows2022
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/sig_config_test.go
  pkg/agent/datamodel/types.go
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.2686.220322.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2686.220322.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.587.220322.txt
Labels: windows

#1659 Copy only when bootstrap-config exits
  vhdbuilder/scripts/windows/collect-windows-logs.ps1
Labels: windows, VHD

#1657 Skip install Azure Security Pack on AKS Windows nodes
  vhdbuilder/packer/windows-vhd-builder-sig.json
  vhdbuilder/packer/windows-vhd-builder.json
Labels: windows, VHD

#1658 chore: Cache new Azure CNI v1.4.22
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, cni, VHD
