Repository Azure/AgentBaker, pull requests merged in 2022-02, with the labels that each got.

#1526 chore: Update cache in AKS Windows VHD - remove 1.18 and update hotfix 202202
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1527 chore: Update Windows base image to 2022-2b
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#1532 doc: Add release notes for AKS Windows VHD with 2022-2B
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.2565.220211.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2565.220211.txt
Labels: documentation, windows

#1540 fix: correct the file name for csi proxy
  staging/cse/windows/kubernetesfunc.ps1
Labels: windows, VHD

#1541 fix: Add kubeproxy and CNI binaries to defender exclusion list
  staging/cse/windows/kubernetesfunc.ps1
Labels: windows, VHD

#1544 chore: Cache windows-gmsa-ccgakvplugin-v1.1.4.zip
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1542 chore: Cache AKS Windows CSE package v0.0.5
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1551 chore: Remove unused cache in Windows VHD
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1545 AKS supports windows server 2022
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-builder-windows.yaml
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#1549 Improve windows version WS2022 because ReleaseId is removed
  parts/windows/windowscsehelper.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/containerdfunc.ps1
  staging/cse/windows/kubeletfunc.ps1
Labels: windows cse package

#1560 Update AKS Windows VHD to 17763.2565.220222
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/sig_config_test.go
Labels: windows

#1561 doc: Add release notes for Windows VHD 17763.2565.220222
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.2565.220222.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2565.220222.txt
Labels: windows

#1565 Windows 2022 CSE scripts
  parts/windows/windowscsehelper.ps1
  pkg/agent/testdata/AKSWindows2004+K8S119+hyperv/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/containerdfunc.ps1
  staging/cse/windows/kubeletfunc.ps1
  staging/cse/windows/kubernetesfunc.ps1
Labels: windows, windows cse package

#1571 Update Windows VHD cache with adding CSE scripts v0.0.6
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1570 Add variable OS_Disk_Size_GB for Windows VHD pipeline to control the C disk partition size
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/windows-vhd-builder-sig.json
  vhdbuilder/packer/windows-vhd-builder.json
Labels: windows

#1577 chore: add release note for windows cse package v0.0.6
  staging/cse/windows/README
Labels: windows
