Repository Azure/AgentBaker, pull requests merged in 2022-08, with the labels that each got.

#2030 chore: cache windows CNS and NPM images
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2033 feat: Add specified code in Windows CSE
  parts/windows/kuberneteswindowssetup.ps1
  parts/windows/windowscsehelper.ps1
  pkg/agent/params.go
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/azurecnifunc.ps1
  staging/cse/windows/calicofunc.ps1
  staging/cse/windows/configfunc.ps1
  staging/cse/windows/containerdfunc.ps1
  staging/cse/windows/kubeletfunc.ps1
  staging/cse/windows/kubernetesfunc.ps1
  vhdbuilder/packer/configure-windows-vhd.ps1
Labels: windows, windows cse package

#2042 build: Cache new Windows CSE package v0.0.12
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2041 Bump kube-proxy hotfix version
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/kube-proxy-images.json
Labels: windows, VHD

#2026 chore: Cache Calico v3.21.6
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD, calico

#2061 chore: Arrange Windows cache with comment owner
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows

#2067 chore: Update Windows base images to 2022.08B
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#2068 doc: Add release notes for AKS Windows images with 2022.08B
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/sig_config_test.go
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.3287.220810.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.3287.220810.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.887.220810.txt
Labels: documentation, windows

#2087 upgrade azure disk csi driver to v1.22.0
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2085 feat: Add hnsremediator for hns crash in Windows nodes
  staging/cse/windows/kubernetesfunc.ps1
  staging/cse/windows/provisioningscripts/hnsremediator.ps1
  staging/cse/windows/provisioningscripts/windowsnodereset.ps1
Labels: windows, windows cse package

#2105 chore: Cache new AKS Windows CSE package v0.0.13
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2106 feat: Add HNS remediator support in Windows CSE
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/baker.go
  pkg/agent/datamodel/types.go
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/variables.go
  pkg/templates/templates_generated.go
Labels: windows

#2089 chore: remove code related to windowsSecureTlsEnabled
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
Labels: windows

#2107 Updating the CNI version to the lastest
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/install-dependencies.sh
Labels: windows, cni, VHD

#2113 Add new Windows sig distro for gen 2
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/sig_config_test.go
  pkg/agent/datamodel/types.go
Labels: windows

#2112 chore: upgrade windows containerd to v0.0.47
  staging/cse/windows/containerdfunc.ps1
  staging/cse/windows/containerdfunc.tests.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2128 upgrade azure file csi driver to v1.21.0
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2124 feat: Support custom kubelet configs in Windows nodes
  pkg/agent/baker.go
  pkg/agent/datamodel/types.go
  pkg/agent/datamodel/types_test.go
Labels: windows

#2114 feat: Log CRI plugin containers on Windows nodes
  vhdbuilder/scripts/windows/collect-windows-logs.ps1
Labels: windows, VHD

#2070 fix: Handle WindowsAzureNetAgentSvc in sysprep
  vhdbuilder/packer/sysprep.ps1
Labels: windows, build
