Repository Azure/AgentBaker, pull requests merged in 2022-09, with the labels that each got.

#2036 feat: Build Windows 2022 Containerd Gen 2 VHD
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-builder-windows.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
  packer.mk
  vhdbuilder/packer/cleanup.sh
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/test/run-test.sh
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD, build

#2144 feat: Windows CSE support disabling OutboundNAT and removing ROUTE if WinDSR is enabled
  staging/cse/windows/azurecnifunc.ps1
  staging/cse/windows/azurecnifunc.tests.ps1
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.Default.conflist
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.DisableWindowsOutboundNat.conflist
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.WinDSR.conflist
Labels: windows, windows cse package

#1823 Chores: setup dependabot
  .github/dependabot.yml
Labels: cleanup

#2154 fix: Set mode in cleanup
  .pipelines/templates/.builder-release-template-windows.yaml
Labels: windows, build

#2146 chore: Cache new AKS Windows CSE package v0.0.14
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2081 feat: Supports Windows agent pools disable OutBoundNAT
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/datamodel/types.go
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/variables.go
  pkg/templates/templates_generated.go
Labels: windows

#2161 fix: Disable Windows WS2022 GEN2 VHD build
  .pipelines/.vsts-vhd-builder-release-windows.yaml
Labels: windows, build

#2163 fix: Disable Windows WS2022 GEN2 in check-in pipeline
  .pipelines/.vsts-vhd-builder-windows.yaml
Labels: windows, build

#2160 chore: Cache new debug scripts in Windows VHDs
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2164 feat: Copy new Windows debug scripts in node provisioning
  staging/cse/windows/kubernetesfunc.ps1
Labels: windows, windows cse package

#2181 chore: Remove unused cached packages in Windows VHD
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2192 doc: Add release notes for AKS Windows images with 2022.09B
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/sig_config_test.go
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.3406.220913.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.3406.220913.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.1006.220913.txt
Labels: documentation, windows

#2153 fix: Build Windows 2022 Containerd Gen 2 VHD
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-builder-windows.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
  packer.mk
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Labels: windows, VHD, build

#2233 fix: Restart Calico services in HNS remediator
  staging/cse/windows/provisioningscripts/hnsremediator.ps1
Labels: windows, windows cse package

#2223 feat: Use hns.v2.psm1 for Windows containerd in CSE package
  staging/cse/windows/azurecnifunc.ps1
  staging/cse/windows/azurecnifunc.tests.ps1
  staging/cse/windows/provisioningscripts/cleanupnetwork.ps1
  staging/cse/windows/provisioningscripts/kubeletstart.ps1
  staging/cse/windows/provisioningscripts/kubeproxystart.ps1
  staging/cse/windows/provisioningscripts/windowsnodereset.ps1
Labels: windows, windows cse package

#2237 fix: Unpin Mariner 2.0 SIG image version
  pkg/agent/datamodel/sig_config.go
Labels: Mariner

#2234 feat: Update Windows CSE package to v0.0.15 to use hns.v2.psm1
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2238 chore: update the version of cse package to v0.0.16
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows

#2253 chore: cache windows vnet cni v1.4.35
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2260 upgrade azure csi drivers
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD
