Repository Azure/AgentBaker, pull requests merged in 2022-05, with the labels that each got.

#1667 test: Check Azure Extensions in AKS Windows VHD build pipeline
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, VHD

#1771 chore: remove list permission and redact token in logs
  vhdbuilder/packer/generate-vhd-publishing-info.sh
  vhdbuilder/publish/Marketplace/new-sku-and-add-image-version.sh
Labels: windows, build

#1788 build: Support setting Windows base image via pipeline variables
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-builder-windows.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/init-variables.sh
Labels: windows, build

#1807 Bump cnm image versions
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#1822 Chores:Setup codeql action
  .github/workflows/codeql-analysis.yml
Labels: cleanup

#1798 build: cleanup storage account
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-builder-release.yaml
  .pipelines/.vsts-vhd-builder-windows.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
  .pipelines/templates/.builder-release-template.yaml
  vhdbuilder/packer/cleanup.sh
  vhdbuilder/packer/test/run-test.sh
Labels: windows, build

#1828 feat: Support no reboot Windows node in CSE
  parts/windows/kuberneteswindowssetup.ps1
  parts/windows/windowscsehelper.ps1
  pkg/agent/datamodel/types.go
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/variables.go
  pkg/templates/templates_generated.go
Labels: windows

#1827 build: Record OS_DISK_SIZE_GB in code instead of pipeline variables
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/windows-vhd-builder-sig.json
  vhdbuilder/packer/windows-vhd-builder.json
Labels: windows, build

#1784 fix: Exclude UDP source port 65330 in Windows nodes
  staging/cse/windows/configfunc.ps1
Labels: bug, windows, windows cse package

#1849 chore: Cache new AKS Windows CSE scripts package v0.0.9
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD
