Repository Azure/AgentBaker, pull requests merged in 2023-10, with the labels that each got.

#3683 chore: enable fixes in Windows 2023-10B
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows, VHD

#3655 chore: update regkey for disabling OutboundNAT on WS2022 nodes
  staging/cse/windows/azurecnifunc.ps1
  staging/cse/windows/azurecnifunc.tests.ps1
Labels: windows, windows cse package

#3689 chore: bump AKS Windows CSE script package to v0.0.32
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3693 feat: update Windows base images to 2023.10B
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#3697 docs: add release notes for Windows images with 2023.10B
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.4974.231011-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.4974.231011.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2031.231011-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2031.231011.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2031.231011-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2031.231011.txt
Labels: documentation, windows

#3705 chore: support 23H2 in Get-WindowsVersion
  parts/windows/windowscsehelper.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
Labels: windows

#3709 chore: bump AKS Windows CSE script package to v0.0.33
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3725 chore: upgrade CSI driver and sidecar image versions in vhd image
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3685 chore: use Get-AuthenticodeSignature to validate whether binaries are signed
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, VHD

#3727 chore: fix incomplete display of unsigned files
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, VHD

#3747 chore: add new k8s packages into skip map
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, VHD

#3748 chore: use workflow to check windows binary signature
  .github/workflows/validate-windows-binary-signature.yaml
  vhdbuilder/packer/test/windows-binary-signature-check.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows

#3704 feat: adding changes to AgentBaker for Stateless CNI on Windows
  staging/cse/windows/kubernetesfunc.ps1
  staging/cse/windows/provisioningscripts/cleanupnetwork.ps1
Labels: windows, windows cse package
