Repository Azure/AgentBaker, pull requests merged in 2023-09, with the labels that each got.

#3590 fix: avoid using WindowsServerCoreImageURL for iis image
  vhdbuilder/packer/configure-windows-vhd.ps1
Labels: windows, VHD

#3361 fix: remove managed_image_resource_group_name and managed_image_name and publish SIG only
  packer.mk
  vhdbuilder/packer/packer-plugin.pkr.hcl
  vhdbuilder/packer/windows-vhd-builder-sig.json
Labels: windows, VHD, build

#3594 chore: cache Windows gmsa webhook image
  vhdbuilder/packer/components.json
Labels: VHD, linux

#3598 chore: remove old unused Windows pause images
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD, cleanup

#3601 feat: upgrade Azure File CSI driver versions in vhd image
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3607 chore: cache Windows Azure CNI v1.5.6.1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, cni, VHD

#3613 chore: update Windows base images to 2023.09B #
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows, VHD

#3616 chore: add function to get latest windows defender platform update
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, VHD

#3618 feat: upgrade Blob CSI driver to v1.22.2 in vhd image
  vhdbuilder/packer/components.json
Labels: VHD

#3622 fix: add AKSAzureLinux in windows e2e test config
  e2e/windows/e2e_test.go
Labels: windows

#3623 chore: bump Windows CSE script package to v0.0.30
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3624 chore: bake CSI driver versions for AKS 1.28
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3620 docs: add release notes and image bom for AKS Windows images 2023.9B
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.4851.230914-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.4851.230914.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.1970.230914-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.1970.230914.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.1970.230914-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.1970.230914.txt
Labels: documentation, windows

#3626 fix: fix branch name in Windows release notes
  .pipelines/templates/.builder-release-template-windows.yaml
Labels: windows, build

#3631 fix: fix inconsistent final output of windows ut pipeline
  .github/workflows/validate-windows-ut.yml
  parts/windows/windowscsehelper.tests.ps1
Labels: windows

#3630 chore: use Get-WindowsVersion for os version check
  staging/cse/windows/azurecnifunc.ps1
  staging/cse/windows/azurecnifunc.tests.ps1
Labels: windows cse package

#3633 chore: bump AKS Windows CSE script package to v0.0.31
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3636 fix: prettier format for windows image bom json
  .pipelines/templates/.builder-release-template-windows.yaml
Labels: windows, build
