Repository Azure/AgentBaker, pull requests merged in 2023-03, with the labels that each got.

#2861 chore: Remove unused cache in Windows VHDs
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2862 fix: Wrong echo of Hyper-v generation in the Windows VHD build pipeline
  packer.mk
Labels: windows, build

#2847 feat: Retag Windows images for AzureChinaCloud
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, VHD

#2875 chore: Update Windows base image to 2023.03B
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#2871 feat: Log DNS servers in Windows CSE script
  staging/cse/windows/azurecnifunc.ps1
Labels: windows cse package

#2755 chore: add more Container Platform logs to collect-windows-logs.ps1 and loggenerator.ps1
  staging/cse/windows/debug/collect-windows-logs.ps1
  staging/cse/windows/provisioningscripts/loggenerator.ps1
Labels: windows, windows cse package

#2767 fix undesired sig versions/galleries cleanup in backfill deletion
  vhdbuilder/packer/backfill-cleanup.sh
Labels: windows, build

#2828 chore: resolve conflict of creating in AgentBaker Windows E2E
  .pipelines/e2e-windows.yaml
  .pipelines/templates/e2e-windows-template.yaml
  e2e/e2e-create-windows-nodepool.sh
  e2e/e2e-helper.sh
  e2e/e2e-starter.sh
  e2e/e2e-windows-scenario.sh
  e2e/e2e_test.go
Labels: windows, build

#2905 chore: Remove unused Postpone-RestartComputer
  parts/windows/windowscsehelper.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
Labels: windows

#2952 chore: bump cloud-node-manager images
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: VHD

#2939 feat: create a unit test pipleine for windows powershell unit test scripts
  .github/workflows/validate-windows-ut.yml
  staging/cse/windows/README
  staging/cse/windows/cse.tests.ps1
Labels: windows

#2928 feat: Increase Windows VHD size to 35 GB for distros WS2022 and WS2022GEN2
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#2951 fix: Update Windows PauseImage to 3.9 in E2E test case
  e2e/scenarios/windows/property-windows-template.json
Labels: windows, test

#2922 chore: Cleanup old cache images/packages in Windows VHDs
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2961 fix: add necessary permission for token
  e2e/e2e-windows-scenario.sh
Labels: windows
