Repository Azure/AgentBaker, pull requests merged in 2023-05, with the labels that each got.

#3152 chore: upgrade CSI sidecar image versions to fix CVEs
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3161 chore: disable building VHD for Windows 2019 with docker
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-builder-windows.yaml
Labels: windows, build

#3164 chore: switch to use the variable ref on the agent.
  .pipelines/.vsts-vhd-automation.yaml
  .pipelines/e2e-windows.yaml
Labels: build

#3178 fix: fix the managed image exists when multiple builds are run in parallel
  vhdbuilder/packer/windows-vhd-builder-sig.json
Labels: windows, build

#3184 docs: add release notes for AKS Windows images with 2023.5B
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.4377.230510.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.1726.230510.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.1726.230510.txt
Labels: documentation, windows

#3158 chore: update AKS Windows CSE script package version to v0.0.24
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows

#3181 feat: remove Kubelet flag --container-runtime in k8s 1.27+
  staging/cse/windows/provisioningscripts/kubeletstart.ps1
Labels: windows cse package

#3186 feat: upgrade Azure Disk CSI driver to v1.26.4
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3185 build: clean up build code for WS2019 with docker
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-builder-windows.yaml
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-vhd-builder-sig.json
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows, build

#3190 docs: add doc to introduce how to test AKS Windows CSE scripts
  staging/cse/windows/README
Labels: documentation, windows

#3191 docs: fix the wrong folder structure after extracting the test Windows CSE script package
  staging/cse/windows/README
Labels: documentation

#3188 fix: revert var name changes in WindowsProfile
  pkg/agent/datamodel/types.go
  pkg/agent/datamodel/types_test.go
  pkg/agent/variables.go
Labels: windows

#3198 feat: update AKS Windows CSE script package to v0.0.25
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows

#3203 cleanup: remove outdated csi images which has CVEs
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3211 feat: use Windows contianerd v1.7.1 in k8s version 1.27+
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3204 chore: add the registry keys for bug fixes of Windows OS in release notes
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows

#3212 fix: exit Windows CSE when it fails in Resize-OSDrive
  parts/windows/windowscsehelper.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/configfunc.ps1
  staging/cse/windows/configfunc.tests.ps1
Labels: enhancement, windows

#3243 fix: change condition of uploading artifacts
  .pipelines/templates/e2e-windows-template.yaml
Labels: windows

#3242 chore: cleanup unused CSI images
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3233 chore: update Windows containerd package v1.6 to v1.6.21
  parts/windows/windowscsehelper.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows

#3234 chore: use windows ame sub to build vhd
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-builder-windows.yaml
  .pipelines/templates/.builder-release-template-windows-cleanup.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/init-variables.sh
Labels: windows
