Repository Azure/AgentBaker, pull requests merged in 2023-04, with the labels that each got.

#2962 upgrade azure disk version to v1.27.1
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2970 test: compare file size for China Cloud
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, test

#2996 chore: add AKS Windows CSE pacakge v0.0.23
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2954 chore: clarify properties for windows e2e
  .pipelines/e2e-windows.yaml
  .pipelines/templates/e2e-windows-template.yaml
  e2e/windows/scenarios/windows/property-windows-template.json
Labels: windows

#3006 upgrade azure file driver to v1.26.2
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3005 doc: add README for windows e2e
  e2e/windows/README.md
Labels: documentation, windows

#2906 feat: Updating CNI & CNS to Support AKS Overlay on WS19
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, VHD

#3022 chore: update Windows base image to 2023.04B
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#3029 fix: add file check for windows log script
  staging/cse/windows/debug/collect-windows-logs.ps1
Labels: windows, windows cse package

#3062 fix: add os type check for run-test.sh
  vhdbuilder/packer/test/run-test.sh
Labels: windows

#3024 fix: do not add IPv6DualStack to Windows kube-proxy feature-gates when K8s >= 1.25.0
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  pkg/agent/datamodel/const.go
  pkg/agent/datamodel/types.go
  pkg/agent/datamodel/types_test.go
  staging/cse/windows/provisioningscripts/kubeproxystart.ps1
  staging/cse/windows/provisioningscripts/windowsnodereset.ps1
Labels: windows, windows cse package

#3049 fix: Windows Azure CNI conflist should split ExceptionList by IP family
  staging/cse/windows/azurecnifunc.ps1
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.Expect.OverlayDualStack.conflist
Labels: windows, windows cse package

#3060 chore: clean up uploaded cse files for AgentBaker Windows E2E automatically
  .pipelines/e2e-windows.yaml
  .pipelines/templates/e2e-windows-template.yaml
  e2e/windows/e2e-helper.sh
  e2e/windows/e2e-starter.sh
Labels: windows

#2971 feat: specify the k8s version to support windows cse validation
  .pipelines/templates/e2e-windows-template.yaml
  e2e/windows/e2e-create-windows-nodepool.sh
  e2e/windows/e2e-helper.sh
  e2e/windows/e2e-scenario.sh
  e2e/windows/e2e-starter.sh
  e2e/windows/scenarios/windows/property-windows-template.json
Labels: windows

#3118 chore: upgrade Azure File CSI driver to v1.24.1
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD
