Repository Azure/AgentBaker, pull requests merged in 2023-02, with the labels that each got.

#2704 chore: test changes in windows cse package automatically
  e2e/e2e-windows-scenario.sh
  e2e/scenarios/windows/property-windows-template.json
Labels: windows, test

#2723 chore: cache windows azure cni v1.4.41
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2726 upgrade to azure disk csi driver v1.26.2
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2738 fix: Remove all download steps in Windows debug scripts
  staging/cse/windows/debug/dumpVfpPolicies.ps1
  staging/cse/windows/debug/starthnstrace.ps1
  staging/cse/windows/debug/startpacketcapture.ps1
  staging/cse/windows/debug/update-scripts.ps1
Labels: windows, windows cse package

#2741 chore: support WS2022 and WS2022-gen2 in AgentBaker Windows E2E
  .pipelines/e2e-windows.yaml
  .pipelines/templates/e2e-windows-template.yaml
  e2e/e2e-create-windows-nodepool.sh
  e2e/e2e-starter.sh
  e2e/e2e-windows-scenario.sh
  e2e/pod-windows-template.yaml
  e2e/scenarios/windows/property-windows-template.json
  e2e/windows_vmss_template.json
Labels: windows

#2482 feat: one Windows VHD build mode
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-builder-windows.yaml
  .pipelines/templates/.builder-release-template-windows-cleanup.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
  packer.mk
  vhdbuilder/packer/backfill-cleanup.sh
  vhdbuilder/packer/cleanup.sh
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/windows-vhd-builder.json
Labels: windows, VHD, build

#2750 upgrade azure file csi driver to v1.26.0
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2759 chore: Update Windows Azure CNI to v1.4.43
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2763 chore: update windows 2023 2b base image
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#2754 feat: Always do not reboot in Windows CSE
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/datamodel/types.go
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/variables.go
  pkg/templates/templates_generated.go
Labels: windows

#2766 fix: fix vhd storage container name
  vhdbuilder/packer/generate-vhd-publishing-info.sh
Labels: build

#2768 feat: Validate generated sas token before publishing artifacts
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
  vhdbuilder/packer/generate-vhd-publishing-info.sh
Labels: build

#2778 upgrade csi driver versions in vhd image cache
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2781 fix: Validate whether the PID of HNS service is valid
  staging/cse/windows/provisioningscripts/hnsremediator.ps1
Labels: enhancement, windows cse package

#2787 doc: Add release notes for new Windows image versions 230223
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.4010.230223.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.4010.230223.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.1547.230223.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.1547.230223.txt
Labels: documentation, windows
