Repository Azure/AgentBaker, pull requests merged in 2023-01, with the labels that each got.

#2550 upgrade Azure disk csi driver to v1.26.0
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2556 chore: Update new Windows containerd package to v0.0.56 (v1.6.14) and ignore hash values for k8s 1.26 package
  parts/windows/windowscsehelper.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, VHD

#2560 chore: Update Windows base images with 2023.1B
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#2566 fix: Remove vfpOutput.txt before generating new logs
  staging/cse/windows/provisioningscripts/loggenerator.ps1
Labels: windows, windows cse package

#2569 upgrade Azure Disk CSI driver to v1.26.1
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#2561 doc: Add release notes for AKS Windows VHD images 2023.1B
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.3887.230111.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.3887.230111.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.1487.230111.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.1487.230111.txt
Labels: documentation, windows

#2571 fix: Update Windows unit tests
  parts/windows/windowscsehelper.tests.ps1
Labels: windows

#2588 chore: use self-created 1es hosted pools to build windows vhd
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-builder-windows.yaml
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/windows-vhd-builder-sig.json
  vhdbuilder/packer/windows-vhd-builder.json
Labels: windows, build
