Repository Azure/AgentBaker, pull requests merged in 2023-12, with the labels that each got.

#3878 chore: cache secrets-store-provider-azure v1.5.0
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3887 fix: resolve not-found issues in windows vhd build pipeline
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/test/run-test.sh
Labels: windows, build

#3915 fix: use containerd v1.7.9 when building 23H2 vhd
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD, build

#3911 chore: improve windows backfill cleanup script
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  packer.mk
  vhdbuilder/packer/backfill-cleanup.sh
Labels: windows, build

#3918 chore: rename prod subscription id for windows vhd build
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
Labels: windows, build

#3919 chore: add the output of collect-windows-logs-output into the node log
  staging/cse/windows/debug/collect-windows-logs.ps1
Labels: windows cse package

#3920 fix: check the path of nvidiaInstallLogFolder
  staging/cse/windows/debug/collect-windows-logs.ps1
Labels: windows cse package

#3916 fix: refine Windows VHD build steps to reset ReofferUpdate.
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/run-test.sh
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, VHD, build

#3926 fix: remove invalid registry keys
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows, VHD

#3925 feat: update Windows base images to 2023-12B
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#3927 docs: add release notes and image list for AKS Windows images 2023.12B
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5206.231213-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5206.231213.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2159.231213-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2159.231213.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2159.231213-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2159.231213.txt
Labels: documentation, windows

#3936 feat: collect kubectl information in AKS Windows node log
  staging/cse/windows/debug/collect-windows-logs.ps1
Labels: windows cse package

#3940 feat: bump Windows CSE script package to v0.0.37
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows
