Repository Azure/AgentBaker, pull requests merged in 2023-08, with the labels that each got.

#3468 feat: cache Windows IIS image for test purpose
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, VHD

#3505 chore: upgrade CSI driver versions to fix CVEs
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3507 chore: cache window azure cni v1.5.6 in vhd
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3517 chore: update Windows base images to 2023-8B with registry key
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows, VHD

#3519 docs: add release notes and image bom for AKS Windows images 2023.8B
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.4737.230808-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.4737.230808.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.1906.230808-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.1906.230808.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.1906.230808-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.1906.230808.txt
Labels: documentation, windows

#3525 chore: cache windows pause image 3.9-hotfix-20230808
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3529 chore: upgrade Azure File CSI driver to v1.24.5 in vhd image
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3520 chore: added check on Windows CSE for vmss type so we don't throw an error
  staging/cse/windows/kubeletfunc.ps1
Labels: windows, windows cse package

#3535 chore: use custom build date for image version
  .pipelines/templates/.builder-release-template-windows.yaml
Labels: windows, VHD, build

#3515 chore: update AKS Windows VHD release note image list json to new format
  vhdbuilder/packer/list-images.ps1
  vhdbuilder/packer/windows-vhd-builder-sig.json
Labels: windows, VHD

#3434 chore: bump windows base image version and create PR automatically
  .pipelines/.vsts-vhd-windows-automation.yaml
  vhdbuilder/scripts/windows/automate_helpers.sh
  vhdbuilder/scripts/windows/automate_version_bump.sh
Labels: windows, VHD, build

#3545 chore: upgrade Azure File CSI driver versions in vhd image
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3546 chore: add microsoft tenant and pipeline to build test windows images
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-builder-windows.yaml
  .pipelines/templates/.builder-release-template-windows-cleanup.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
Labels: windows, build

#3550 chore: use latest image to deploy windows e2e vmss
  e2e/windows/e2e-scenario.sh
  e2e/windows/windows_vmss_template.json
Labels: windows

#3567 docs: add release notes for Windows image versions 230809
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.4737.230809-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.4737.230809.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.1906.230809-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.1906.230809.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.1906.230809-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.1906.230809.txt
Labels: documentation, windows

#3555 fix: change format of windows repoDigests to list
  vhdbuilder/packer/list-images.ps1
Labels: windows, VHD

#3565 chore: upgrade Azure File CSI driver version in vhd image
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3570 chore: upgrade Azure Disk CSI driver to v1.28.3 in vhd image
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3566 chore: simplify used variable groups for windows
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-builder-windows.yaml
  .pipelines/e2e-windows.yaml
  .pipelines/templates/.builder-release-template-windows-cleanup.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
  .pipelines/templates/e2e-windows-template.yaml
  e2e/windows/e2e-create-windows-nodepool.sh
  e2e/windows/e2e-helper.sh
  e2e/windows/e2e-scenario.sh
  e2e/windows/e2e-starter.sh
Labels: windows, build

#3582 fix: cache Windows packages for cve patches
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3585 chore: use msi instead of sp in windows pipeline
  .pipelines/e2e-windows.yaml
  .pipelines/templates/e2e-windows-template.yaml
  packer.mk
Labels: windows, build

#3469 chore: create windows vhd release notes automatically
  .pipelines/.vsts-vhd-windows-automation.yaml
  vhdbuilder/release-notes/autonotes/main.go
  vhdbuilder/scripts/windows/automate_helpers.sh
  vhdbuilder/scripts/windows/automate_release_notes.sh
Labels: windows, build
