Repository Azure/AgentBaker, pull requests merged in 2023-11, with the labels that each got.

#3786 cleanup: unused CSI driver versions
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: VHD

#3792 chore: assign MSI to AKS Windows build VMs
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/windows-vhd-builder-sig.json
Labels: windows, VHD

#3801 feat: bump AKS Windows CSE script package to v0.0.34
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3804 feat: optimize resize-osdrive replacing get-partitionsupportedsize with diskpart
  staging/cse/windows/configfunc.ps1
  staging/cse/windows/configfunc.tests.ps1
Labels: windows cse package

#3802 chore: update windows sku to distro name in image-list.json
  vhdbuilder/packer/list-images.ps1
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.4851.230914-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.4974.231011-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.1970.230914-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2031.231011-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.1970.230914-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2031.231011-image-list.json
Labels: documentation, windows

#3764 chore: use workflow to check files on mooncake
  .github/workflows/validate-windows-binary-signature.yaml
  vhdbuilder/packer/test/windows-files-check.ps1
Labels: windows

#3827 fix: move msi to be optional
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/windows-vhd-builder-sig.json
Labels: windows, build

#3831 feat: update Windows base images to 2023-11B with registry key
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows, VHD

#3834 feat: validate windows release branch and reuse the same pipeline yaml
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-builder-windows.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
Labels: windows, build

#3833 chore: remove unused windows pipeline yaml
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-builder-windows.yaml
  .pipelines/templates/.builder-release-template-windows-cleanup.yaml
  vhdbuilder/packer/backfill-cleanup.sh
Labels: windows, cleanup, build

#3832 docs: add release notes and image bom for AKS Windows images 2023.11B
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5122.231115-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5122.231115.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2113.231115-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2113.231115.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2113.231115-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2113.231115.txt
Labels: documentation, windows

#3843 chore: add dry-run check for release pipeline
  .pipelines/templates/.builder-release-template-windows.yaml
Labels: windows, build

#3842 chore: skip validation of win-bridge.exe in all k8s packages
  vhdbuilder/packer/test/windows-files-check.ps1
Labels: windows

#3794 feat: update cse script package changes for aks windows gpu feature
  parts/windows/windowscsehelper.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/debug/collect-windows-logs.ps1
  staging/cse/windows/nvidiagpudriverfunc.ps1
  staging/cse/windows/nvidiagpudriverfunc.tests.ps1
  staging/cse/windows/provisioningscripts/loggenerator.ps1
Labels: windows cse package

#3844 chore: rename artifact files in windows vhd pipelines
  .pipelines/templates/.builder-release-template-windows.yaml
Labels: windows, build

#3847 chore: update sig config to support 23H2
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/sig_config_test.go
  pkg/agent/datamodel/types.go
Labels: windows

#3805 chore: update CNS, CNI, and dropgz
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/install-dependencies.sh
Labels: cni

#3852 feat: upgrade CSI driver versions in vhd image
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3820 feat: use nvidia gpu driver install script in windows cse
  .pipelines/e2e-windows.yaml
  .pipelines/templates/e2e-windows-template.yaml
  e2e/windows/e2e-create-windows-nodepool.sh
  e2e/windows/e2e-helper.sh
  e2e/windows/e2e-scenario.sh
  e2e/windows/e2e-starter.sh
  e2e/windows/scenarios/windows/property-windows-template.json
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/datamodel/types.go
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/variables.go
  pkg/templates/templates_generated.go
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3848 chore: support windows vhd build for 23H2
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-windows-automation.yaml
  .pipelines/e2e-windows.yaml
  e2e/windows/README.md
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/windows-image.env
Labels: windows, build

#3857 chore: update containerd version to v1.7.9 for 23H2
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows

#3868 fix: use the latest Windows image in Windows E2E
  e2e/windows/e2e-scenario.sh
Labels: windows, build

#3871 chore: support to test Windows 2025
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/containerdfunc.ps1
Labels: windows, windows cse package

#3879 feat: bump AKS Windows CSE script package to v0.0.36
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD
