Repository Azure/AgentBaker, pull requests merged in 2023-07, with the labels that each got.

#3381 chore: update Windows base image to get .net 202306OOB fix
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#3394 chore: use specified version of az cli as workaround
  .pipelines/templates/e2e-windows-template.yaml
Labels: windows

#3413 chore: update Windows base images to 2023-7B with registry key
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows, VHD

#3414 feat: retag images for AzureChinaCloud in provisioning Windows nodes
  staging/cse/windows/configfunc.ps1
Labels: windows cse package

#3422 feat: clear existing images tags in non-AzureChinaCloud
  staging/cse/windows/configfunc.ps1
Labels: windows cse package

#3425 fix: fix SC2191 error
  vhdbuilder/packer/install-dependencies.sh
Labels: VHD

#3424 chore: bump Windows CSE script package to v0.0.27
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows

#3415 chore: remove unused function
  e2e/windows/scenarios/windows/property-windows-template.json
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/kubeletfunc.ps1
Labels: windows

#3428 chore: do not retag Windows images in building VHDs
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, VHD, cleanup

#3403 chore: cleanup docker in Windows CSE scripts
  pkg/agent/baker_test.go
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  staging/cse/windows/azurecnifunc.ps1
  staging/cse/windows/azurecnifunc.tests.ps1
  staging/cse/windows/configfunc.ps1
  staging/cse/windows/debug/collect-windows-logs.ps1
  staging/cse/windows/kubeletfunc.ps1
  staging/cse/windows/kubernetesfunc.ps1
  staging/cse/windows/provisioningscripts/cleanupnetwork.ps1
  staging/cse/windows/provisioningscripts/kubeletstart.ps1
  staging/cse/windows/provisioningscripts/kubeproxystart.ps1
  staging/cse/windows/provisioningscripts/loggenerator.ps1
  staging/cse/windows/provisioningscripts/windowsnodereset.ps1
Labels: windows, windows cse package

#3437 feat: collect dump files
  staging/cse/windows/debug/collect-windows-logs.ps1
Labels: windows cse package

#3442 fix: fix the bug in collect-windows-logs.ps1
  staging/cse/windows/debug/collect-windows-logs.ps1
Labels: windows cse package

#3446 fix: fix wrong log in Windows debug script
  staging/cse/windows/debug/collect-windows-logs.ps1
Labels: windows cse package

#3441 chore: bump Windows CSE script package to v0.0.29
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows

#3448 chore: cleanup unused csi images
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3454 chore: add azurefile-csi:v1.28.1-windows-hp image in vhd image cache
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3485 feat: support caching private packages on Windows VHDs
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-builder-windows.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/windows-vhd-builder-sig.json
Labels: windows, build
