Repository Azure/AgentBaker, pull requests merged in 2024-10, with the labels that each got.

#5040 chore: cache cloud node manager windows host process images
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#5039 feat: bump windows base image 2024-10B for Windows 2022 23H2
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#5051 feat: install Windows 10b patch for Windows2019 base image
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#5054 docs: update windows release notes to 2024-10B for Windows2022 23H2
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2762.241009-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2762.241009.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2762.241009-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2762.241009.txt
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1189.241009-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1189.241009.txt
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1189.241009-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1189.241009.txt
Labels: documentation, windows

#5053 feat: refine Windows image version
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/list-images.ps1
  vhdbuilder/packer/windows-vhd-builder-sig.json
Labels: windows, build

#5058 docs: update windows release notes to 2024-10B for Window 2019
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.6414.241010-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.6414.241010.txt
Labels: documentation, windows

#5071 chore: upgrade Azure Disk and File CSI driver versions in vhd image
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#5069 chore: upgrade blob csi driver version in vhd image
  parts/linux/cloud-init/artifacts/components.json
Labels: VHD

#5073 chore: upgrade CSI driver sidecar images in vhd image
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#5076 Chore : CNI and CNS v1.5.38 and v1.4.56
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/prefetch/internal/containerimage/testdata/prefetch.sh
Labels: cni

#5086 chore: upgrade Azure Disk and File CSI drivers in vhd image
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#5136 feat: bump AKS Windows CSE script package version to v0.0.49
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletServingCertificateRotation/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows

#5126 feat: allow passing parameters instead of environment variables
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, build

#5150 Revert "feat: bump AKS Windows CSE script package version to v0.0.49 …
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletServingCertificateRotation/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows

#5151 fix: do not use return in updating kubelet node labels
  parts/windows/windowscsehelper.tests.ps1
  staging/cse/windows/kubeletfunc.ps1
  staging/cse/windows/kubeletfunc.tests.ps1
Labels: windows cse package

#5135 cleanup: unused kubelet serving certificate rotation code
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/baker.go
  pkg/agent/testdata/AKSUbuntu2204+KubeletServingCertificateRotation+CustomKubeletConfig/CSECommand
  pkg/agent/testdata/AKSUbuntu2204+KubeletServingCertificateRotation+CustomKubeletConfig/CustomData
  pkg/agent/testdata/AKSUbuntu2204+KubeletServingCertificateRotation/CSECommand
  pkg/agent/testdata/AKSUbuntu2204+KubeletServingCertificateRotation/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletServingCertificateRotation/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  pkg/agent/utils.go
  pkg/agent/utils_test.go
Labels: windows
