Repository Azure/AgentBaker, pull requests merged in 2024-06, with the labels that each got.

#4461 chore: cache Windows containerd v1.7.17
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4462 fix: remove CLASSIC_SA_CONNECTION_STRING
  .pipelines/templates/.builder-release-template-windows.yaml
  .pipelines/templates/.builder-release-template.yaml
  vhdbuilder/packer/generate-vhd-publishing-info.sh
Labels: windows, VHD, build

#4467 fix: unblock Windows VHD build
  .pipelines/templates/.builder-release-template-windows.yaml
Labels: windows, VHD, build

#4459 fix: correctly set msi for both Windows and Linux
  .pipelines/templates/.builder-release-template-windows.yaml
  .pipelines/templates/.builder-release-template.yaml
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
  vhdbuilder/packer/windows-vhd-builder-sig.json
Labels: VHD, build

#4496 feat: support Windows private k8s packages
  staging/cse/windows/kubeletfunc.ps1
  staging/cse/windows/kubeletfunc.tests.ps1
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, VHD, windows cse package

#4497 feat: bump Windows CSE script package version to v0.0.43
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-files-check.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, VHD

#4505 feat: bump windows image version for 2024-06B
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows, VHD

#4504 feat: use one ignore list for windows vhd test
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-files-check.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, test

#4506 chore: cherry pick code change of windows image version for 2024-06B to release branch
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  staging/cse/windows/README
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-files-check.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows

#4510 chore: upgrade Blob CSI driver to v1.23.5
  parts/linux/cloud-init/artifacts/components.json
Labels: VHD

#4511 docs: add Windows image release notes for 2024-6B
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5936.240612-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5936.240612.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2527.240612-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2527.240612.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2527.240612-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2527.240612.txt
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.950.240612-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.950.240612.txt
  vhdbuilder/release-notes/AKSWindows/23H2/25398.950.240612-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2/25398.950.240612.txt
Labels: documentation, windows

#4541 feat: bump Windows 2022 image versions to 2024.6OOB
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#4543 chore: cherry pick windows 2022 6ob
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/windows-image.env
Labels: windows

#4544 fix: update e2e vmsize
  .pipelines/e2e-windows.yaml
  e2e/windows/e2e-starter.sh
Labels: build

#4542 fix: do not collect vfp ports in loggenerator.ps1
  staging/cse/windows/provisioningscripts/loggenerator.ps1
Labels: windows, windows cse package

#4545 docs: add Windows 2022 node image release notes for 2024-6OOB
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2529.240621-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2529.240621.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2529.240621-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2529.240621.txt
Labels: documentation, windows

#4550 feat: bump Windows CSE script package version to v0.0.44
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4558 chore: clean up unused windows cache
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4561 chore: clean up unused cni packages
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4562 fix: fix the issue in downloading windows e2e logs
  e2e/windows/e2e-scenario.sh
  e2e/windows/upload-cse-logs.ps1
Labels: windows, test
