Repository Azure/AgentBaker, pull requests merged in 2024-01, with the labels that each got.

#3953 fix: remove sp for downloading windows e2e cse script package
  e2e/windows/e2e-scenario.sh
Labels: windows

#3956 feat: update Windows base images to 2024.1B
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows

#3957 fix: fix the confusing logs in Windows VHD build
  vhdbuilder/packer/configure-windows-vhd.ps1
Labels: windows, build

#3958 docs: add release notes for Windows images with 2024.01B
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5329.240110-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5329.240110.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2227.240110-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2227.240110.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2227.240110-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2227.240110.txt
Labels: documentation, windows

#3959 fix: fix no reg key in WS2019
  vhdbuilder/packer/write-release-notes-windows.ps1
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5122.231115.txt
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5206.231213.txt
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5329.240110.txt
Labels: windows, build

#3962 chore: use pipeline variable for windows gpu vm size
  .pipelines/e2e-windows.yaml
Labels: windows

#3973 chore: update containerd version to v1.7.9 for all windows images
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows

#3964 fix: make the image version the same as file name of image bom files
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/windows-vhd-builder-sig.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.4851.230914-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.4974.231011-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5122.231115-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5206.231213-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5329.240110-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.1970.230914-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2031.231011-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2113.231115-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2159.231213-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2227.240110-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.1970.230914-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2031.231011-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2113.231115-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2159.231213-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2227.240110-image-list.json
Labels: windows, build

#3983 fix: add token for the deletion of test cse script packages
  e2e/windows/e2e-scenario.sh
Labels: windows

#3988 feat: get DU tool to Window VHD
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, VHD

#3998 fix: restore cache for tool DU
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4000 fix: use latest cli to get default k8s version
  .pipelines/e2e-windows.yaml
  .pipelines/templates/e2e-windows-template.yaml
  e2e/windows/e2e-helper.sh
Labels: windows

#3999 build: add Windows VHD build auto trigger rules
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  packer.mk
Labels: windows, build

#4004 chore: clean up unused Get-KubeBinaries and unused rule in windows e2e yaml
  .pipelines/e2e-windows.yaml
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
Labels: windows, build

#4019 feat: containerinsights 3.1.17 release
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: VHD
