Repository Azure/AgentBaker, pull requests merged in 2024-08, with the labels that each got.

#4687 chore: modify AgentBaker windows test
  .github/workflows/validate-windows-binary-signature.yaml
  .pipelines/e2e-windows.yaml
  .pipelines/templates/e2e-windows-template.yaml
  e2e/windows/e2e-create-windows-nodepool.sh
  e2e/windows/e2e-helper.sh
  e2e/windows/e2e-scenario.sh
  e2e/windows/e2e-starter.sh
Labels: windows

#4756 fix: disable port exclusion change in 23H2
  vhdbuilder/packer/configure-windows-vhd.ps1
Labels: bug, windows, VHD

#4757 fix: disable port exclusion in 2024 7b
  vhdbuilder/packer/configure-windows-vhd.ps1
Labels: windows, VHD

#4771 feat: remove exit in testing free space
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows

#4772 fix: cherry pick free space change
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows

#4759 chore: upgrade Azure CSI driver versions in vhd image
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: VHD

#4690 chore: cache cni/cns v1.5.32
  parts/linux/cloud-init/artifacts/components.json
  spec/parts/linux/cloud-init/artifacts/cse_install_spec.sh
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: cni

#4776 chore: cache Windows containerd v1.7.20
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4778 docs: update 23H2 new 7B release notes
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1009.240805-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1009.240805.txt
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1009.240805-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1009.240805.txt
Labels: documentation, windows

#4788 feat: update logs in windows release notes
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows

#4758 feat: block 32526 to wireserver on Windows nodes
  staging/cse/windows/azurecnifunc.ps1
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.Default.OverlayDualStack.conflist
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.Expect.DisableOutboundNat.conflist
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.Expect.DisableWinDSR.conflist
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.Expect.EnableWinDSR.conflist
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.Expect.Overlay.conflist
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.Expect.OverlayDualStack.conflist
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.Expect.Swift.DisableOutboundNAT.conflist
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.Expect.Swift.conflist
  staging/cse/windows/calicofunc.ps1
Labels: windows cse package

#4798 chore: upgrade Azure File CSI driver versions in vhd image
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: VHD

#4793 chore: cache secrets-store-csi-driver v1.4.4
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4804 chore: upgrade Azure Disk CSI driver to v1.30.3
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4810 chore: upgrade Azure Blob CSI Driver versions in vhd image
  parts/linux/cloud-init/artifacts/components.json
Labels: VHD

#4818 feat: bump windows image version for 2024-08B
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows, VHD

#4819 chore: restore iis cache in 23H2
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4827 docs: update windows release notes for 2024-08B
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.6189.240814-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.6189.240814.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2655.240814-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2655.240814.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2655.240814-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2655.240814.txt
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1085.240814-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1085.240814.txt
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1085.240814-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1085.240814.txt
Labels: documentation, windows

#4837 feat: bump Windows CSE script package to v0.0.46
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4838 feat: do not need to generate sas token in vhd-publishing-info.json
  .pipelines/templates/.builder-release-template-windows.yaml
  .pipelines/templates/.builder-release-template.yaml
  vhdbuilder/packer/generate-vhd-publishing-info.sh
Labels: VHD

#4846 chore: update containerd 1.6 to v1.6.35
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4848 chore: update containerd version for Windows E2E
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
Labels: windows

#4861 chore: cache secrets-store-csi-driver v1.4.5
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4885 fix: fix the issue in parsing Windows defender version
  vhdbuilder/packer/configure-windows-vhd.ps1
Labels: windows, VHD
