Repository Azure/AgentBaker, pull requests merged in 2024-02, with the labels that each got.

#3994 chore: upgrade CSI driver image versions in linux vhd
  vhdbuilder/packer/components.json
Labels: VHD

#4026 fix: use correct windows image version in publishing info
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/generate-vhd-publishing-info.sh
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/list-images.ps1
  vhdbuilder/packer/windows-vhd-builder-sig.json
Labels: windows, build

#4027 feat: adding in windows dropgz to pre-cache list
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4028 fix: fix Windows image version in generating publishing info
  .pipelines/templates/.builder-release-template-windows.yaml
Labels: bug, windows, build

#4032 docs: add Windows image release notes
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5329.240202-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5329.240202.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2227.240202-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2227.240202.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2227.240202-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2227.240202.txt
Labels: documentation, windows

#4033 chore: use msi in az copy command
  e2e/windows/e2e-helper.sh
  e2e/windows/e2e-scenario.sh
  e2e/windows/e2e-starter.sh
  e2e/windows/upload-cse-logs.ps1
Labels: windows

#4078 feat: update Windows base images to 2024.2B
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows

#4080 fix: clean up typo in windows e2e
  e2e/windows/e2e-scenario.sh
Labels: windows

#4079 docs: add Windows image release notes for 2024-2b
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5458.240218-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5458.240218.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2322.240218-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2322.240218.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2322.240218-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2322.240218.txt
Labels: documentation, windows

#3931 feat: return error details in Windows CSE
  parts/windows/csecmd.ps1
  parts/windows/kuberneteswindowssetup.ps1
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CSECommand
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CSECommand
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CSECommand
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CSECommand
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CSECommand
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CSECommand
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
Labels: windows

#4087 fix: should not start k8s-restart-job when reboot is needed for windows gpu
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
Labels: bug, windows

#3944 chore: support cse log for windows
  parts/windows/kuberneteswindowssetup.ps1
  parts/windows/windowscsehelper.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/azurecnifunc.ps1
  staging/cse/windows/calicofunc.ps1
  staging/cse/windows/configfunc.ps1
  staging/cse/windows/kubeletfunc.ps1
  staging/cse/windows/kubernetesfunc.ps1
  staging/cse/windows/nvidiagpudriverfunc.ps1
Labels: windows

#4060 chore(deps): cache cns v1.5.23
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: VHD

#3684 feat: support Windows container local dumps
  parts/windows/windowscsehelper.tests.ps1
  staging/cse/windows/containerdfunc.ps1
  staging/cse/windows/containerdtemplate.toml
Labels: windows, windows cse package

#4102 feat: bump Windows CSE script package to v0.0.39
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows

#4101 chore: add CSI driver versions in vhd image for AKS 1.29 only
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4108 chore: upgrade blob csi driver version in vhd only for aks 1.29
  vhdbuilder/packer/components.json
Labels: VHD

#4115 chore: remove unused azure-cns image versions
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4116 chore: remove unused Windows image versions and packages
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4117 feat: validate the free space in AKS Windows VHDs
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4118 docs: add Windows image release notes for 2024-2b after cleaning useless caches
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5458.240227-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5458.240227.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2322.240227-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2322.240227.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2322.240227-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2322.240227.txt
Labels: documentation, windows
