Repository Azure/AgentBaker, pull requests merged in 2024-05, with the labels that each got.

#4363 fix: fix container image URL
  vhdbuilder/packer/components.json
Labels: bug

#4384 fix: remove storage account key in az storage command
  .pipelines/templates/e2e-windows-template.yaml
  e2e/windows/e2e-helper.sh
Labels: windows

#4383 feat: refine collect-windows-logs.ps1
  staging/cse/windows/debug/collect-windows-logs.ps1
Labels: windows cse package

#4389 feat: cse supports windows-exporter log
  staging/cse/windows/debug/collect-windows-logs.ps1
  staging/cse/windows/provisioningscripts/loggenerator.ps1
  staging/cse/windows/provisioningscripts/windowslogscleanup.ps1
Labels: windows, windows cse package

#4400 feat: update Windows base images to 2024.05B
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#4405 docs: add Windows image release notes for 2024-05B
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5820.240516-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5820.240516.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2461.240516-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2461.240516.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2461.240516-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2461.240516.txt
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.887.240516-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.887.240516.txt
  vhdbuilder/release-notes/AKSWindows/23H2/25398.887.240516-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2/25398.887.240516.txt
Labels: documentation, windows

#4413 chore: remove unused CSI driver images in vhd
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4420 feat: use website url to download Windows CSE script package in e2e
  e2e/windows/e2e-scenario.sh
Labels: windows, test

#4423 chore: upgrade Azure Disk CSI driver and node-driver-registrar image
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4410 chore: use devinfra assistant PAT in windows VHD automation pipeline
  .pipelines/.vsts-vhd-windows-automation.yaml
  vhdbuilder/scripts/windows/automate_release_notes.sh
Labels: windows

#4440 feat: use MSI to upload VHDs to the storage container
  .pipelines/templates/.builder-release-template-windows.yaml
  .pipelines/templates/.builder-release-template.yaml
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Labels: VHD, build

#4444 cleanup: delete unused files
  .pipelines/templates/.builder-Marketplace-win-template.yaml
  Makefile
  test.mk
  vhdbuilder/publish/Marketplace/new-sku-and-add-image-version.sh
  vhdbuilder/publish/Marketplace/sku-template.json
  vhdbuilder/publish/cleanup.sh
  vhdbuilder/publish/prepare-sig.sh
  vhdbuilder/publish/sig-version-create.sh
  vhdbuilder/publish/sig-version-scale.sh
Labels: cleanup, build

#4448 fix: refine windows e2e test
  e2e/windows/e2e-scenario.sh
Labels: windows, test

#4447 doc: update Windows CSE script package doc
  .pipelines/e2e-windows.yaml
  staging/cse/windows/README
Labels: windows
