Repository Azure/AgentBaker, pull requests merged in 2024-04, with the labels that each got.

#4226 feat: refine the code to get the Windows containerd version
  parts/windows/windowscsehelper.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/containerdfunc.ps1
Labels: windows, windows cse package

#4230 chore: cache azure cns v1.5.24 in windows vhd
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4153 chore: cache secrets-store-csi-driver v1.4.2
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4213 feat: add system startup task to expand os volume
  staging/cse/windows/configfunc.ps1
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-vhd-builder-sig.json
Labels: windows, VHD

#4235 docs: add release notes for new AKS Windows images with 2024-3B
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5576.240401-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5576.240401.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2340.240401-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2340.240401.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2340.240401-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2340.240401.txt
Labels: documentation, windows

#4220 chore: exclude 65330 in building 23H2 VHDs
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows, VHD

#4251 chore: upgrade Azure File CSI driver to v1.30.1 in vhd image
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4257 chore: add functions to set/test Windows registry keys
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, VHD

#4253 chore: cache Windows containerd v1.7.14
  parts/windows/windowscsehelper.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4268 feat: update Windows base images to 2024.04B
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows, VHD

#4270 docs: update windows release notes for 2024-04B
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5696.240410-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5696.240410.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2402.240410-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2402.240410.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2402.240410-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2402.240410.txt
Labels: documentation, windows

#4271 chore: update image version of 23H2 to 2024.4B
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#4285 chore: upgrade csi driver versions in vhd image
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#3952 Add more containerd logs to collect-windows-logs.ps1
  staging/cse/windows/debug/collect-windows-logs.ps1
Labels: windows cse package

#4281 feat: update window cse to install credental provider
  .github/workflows/validate-windows-ut.yml
  parts/windows/windowscsehelper.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/configfunc.ps1
  staging/cse/windows/configfunc.tests.ps1
  staging/cse/windows/credentialProvider.tests.suites/CustomCloudContainerRegistryDNSSuffixEmpty.config.yaml
  staging/cse/windows/credentialProvider.tests.suites/CustomCloudContainerRegistryDNSSuffixNotEmpty.config.yaml
  staging/cse/windows/debug/collect-windows-logs.ps1
  staging/cse/windows/provisioningscripts/loggenerator.ps1
Labels: windows cse package

#4283 chore: reuse gallery in windows vhd build
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/backfill-cleanup.sh
  vhdbuilder/packer/cleanup.sh
Labels: windows, build

#4298 chore: bump AKS Windows CSE script package to v0.0.41
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4131 feat: support skipping legacy code CleanupNetwork in AKS Windows CSE
  staging/cse/windows/kubernetesfunc.ps1
  staging/cse/windows/provisioningscripts/cleanupnetwork.ps1
  staging/cse/windows/provisioningscripts/kubeletstart.ps1
  staging/cse/windows/provisioningscripts/kubeproxystart.ps1
  staging/cse/windows/provisioningscripts/windowsnodereset.ps1
Labels: windows, windows cse package

#4325 feat: add parameters for collect-windows-logs.ps1
  staging/cse/windows/debug/collect-windows-logs.ps1
Labels: windows, windows cse package

#4103 feat: bump new CSE and skip CleanupNetwork controlled by AKS toggle
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/datamodel/types.go
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  pkg/agent/variables.go
  pkg/templates/templates_generated.go
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows cse package

#4320 chore: cache secrets-store-csi-driver v1.4.3
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4324 chore: upgrade Azure File CSI driver versions in vhd image
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4317 cleanup: remove release notes of unsupported Windows 2019 docker images
  vhdbuilder/release-notes/AKSWindows/2019/17763.1397.200904.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.1397.201014.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.1554.201021.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.1577.201111.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.1579.201208.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.1637.201215.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.1697.210113.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.1697.210127.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.1697.210210.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.1757.210220.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.1790.210302.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.1817.210310.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.1817.210330.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.1879.210414.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.1911.210423.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.1911.210507.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.1935.210513.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.1971.210521.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.1971.210526.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.1999.210609.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2061.210714.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2114.210811.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2183.210915.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2213.210922.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2237.211014.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2300.211110.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2366.211215.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2366.220117.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2565.220211.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2565.220222.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2686.220309.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2686.220317.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2686.220322.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2803.220413.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2803.220428.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2928.220511.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.2928.220525.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.3046.220615.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.3046.220624.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.3165.220713.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.3232.220722.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.3287.220810.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.3406.220913.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.3532.221012.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.3534.221019.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.3650.221110.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.3650.221202.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.3770.221214.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.3887.230111.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.4010.230216.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.4010.230223.txt
  vhdbuilder/release-notes/AKSWindows/2019/17763.4131.230315.txt
Labels: documentation, windows

#4311 docs: add Windows image release notes for 2024-4B of 23H2
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.830.240411-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.830.240411.txt
  vhdbuilder/release-notes/AKSWindows/23H2/25398.830.240411-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2/25398.830.240411.txt
Labels: documentation, windows

#4331 fix: fix the wrong variable in windows VHD backfill script
  vhdbuilder/packer/backfill-cleanup.sh
Labels: windows, build

#4336 docs: add Windows image release notes for 2024-04B with updated cache
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5696.240423-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5696.240423.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2402.240423-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2402.240423.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2402.240423-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2402.240423.txt
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.830.240423-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.830.240423.txt
  vhdbuilder/release-notes/AKSWindows/23H2/25398.830.240423-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2/25398.830.240423.txt
Labels: documentation, windows

#4339 chore: run collect-windows-logs.ps1 in AgentBaker Windows E2E
  e2e/windows/e2e-scenario.sh
  e2e/windows/upload-cse-logs.ps1
Labels: windows
