Repository Azure/AgentBaker, pull requests merged in 2024-11, with the labels that each got.

#5229 feat: bump windows base image 2024-11B for Windows 2019, 2022, and 23H2
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows, VHD

#5260 feat: bump windows base image 2024-11B for Windows 2019, 2022, and 23…
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows, VHD

#5272 feat: update windows release notes for 2024-11
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.6532.241114-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.6532.241114.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2762.241114-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2762.241114.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2849.241114-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2849.241114.txt
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1251.241114-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1251.241114.txt
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1251.241114-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1251.241114.txt
Labels: documentation, windows

#5273 feat: update windows release notes for 2024-11 (#5272)
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.6532.241114-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.6532.241114.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2762.241114-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2762.241114.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2849.241114-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2849.241114.txt
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1251.241114-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1251.241114.txt
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1251.241114-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1251.241114.txt
Labels: documentation, windows

#5263 fix: add start and end symbols for source branch validation
  .pipelines/templates/.builder-release-template-windows.yaml
Labels: windows

#5291 feat: Update WS2022 gen2 base image to 2024-11B
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#5292 feat: Update WS2022 gen2 base image to 2024-11B (#5291)
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#5308 docs: add release notes for WS2022 gen2 with 2024.11B
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2849.241119-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2849.241119.txt
Labels: documentation, windows

#5309 docs: add release notes for WS2022 gen2 with 2024.11B (#5308)
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2849.241119-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2849.241119.txt
Labels: documentation, windows
