Repository Azure/AgentBaker, pull requests merged in 2024-09, with the labels that each got.

#4893 fix: fix xml issue in win vhd test
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, test

#4884 chore: upgrade Azure Disk CSI driver
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: VHD

#4905 chore: upgrade Azure File CSI drver to v1.29.8
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4919 Revert "fix: exclude udp ports on Windows (#4886)"
  staging/cse/windows/configfunc.ps1
  staging/cse/windows/configfunc.tests.ps1
Labels: windows cse package

#4906 chore: remove du.zip cache in VHD because it was expanded to folder DU
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4889 fix: correctly return error in testBccTools test if the test fails
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Labels: bug

#4921 chore: bump Windows base images to 2024.9B
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows, VHD

#4922 cleanup: clean up old Windows images
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD, cleanup

#4924 test: update Windows CSE helper UT
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletServingCertificateRotation/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
Labels: windows, test

#4932 docs: update windows release notes for 2024-09B
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.6293.240911-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.6293.240911.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2700.240911-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2700.240911.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2700.240911-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2700.240911.txt
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1128.240911-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1128.240911.txt
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1128.240911-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1128.240911.txt
Labels: documentation, windows

#4926 chore: add used sidecar images to vhd images
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4934 feat: update WS23H2 base image to 2024.9B
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#4970 chore: update VHD size of 23H2 back to 35GB
  vhdbuilder/packer/windows-image.env
Labels: windows, VHD

#4971 feat: disable kubelet serving certificate rotation on windows via nodepool tags
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletServingCertificateRotation/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
Labels: windows

#4981 chore: clean up outdated cache in windows vhd
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4967 chore: update cni and cns to 1.6.7
  parts/linux/cloud-init/artifacts/components.json
  spec/parts/linux/cloud-init/artifacts/cse_helpers_spec.sh
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: cni

#4984 chore: upgrade Blob CSI driver on vhd image
  parts/linux/cloud-init/artifacts/components.json
Labels: VHD

#5006 fix: upload new linux file when it's outdated after autoupgrade of linux node
  e2e/windows/e2e-helper.sh
  e2e/windows/e2e-starter.sh
Labels: windows

#4995 chore: update cni and cns to 1.6.10
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/prefetch/internal/containerimage/testdata/components.json
  vhdbuilder/prefetch/internal/containerimage/testdata/prefetch.sh
Labels: cni
