Repository Azure/AgentBaker, pull requests merged in 2024-07, with the labels that each got.

#4577 test: Windows E2E uses MSFT tenant image reference
  e2e/windows/e2e-scenario.sh
Labels: windows, test

#4576 docs: add Windows node image 240621 release notes
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5936.240621-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5936.240621.txt
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.950.240621-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.950.240621.txt
  vhdbuilder/release-notes/AKSWindows/23H2/25398.950.240621-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2/25398.950.240621.txt
Labels: documentation, windows

#4547 feat: upgrade sidecar image versions on node vhd
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4593 chore: upgrade CSI driver versions in vhd image
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4594 feat: use PowerShell commands to set pagefile size instead of wmic
  parts/windows/windowscsehelper.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  staging/cse/windows/configfunc.ps1
Labels: windows cse package

#4398 Add more containerd logs
  staging/cse/windows/debug/collect-windows-logs.ps1
Labels: windows, windows cse package

#4563 feat: remove Invoke-Expression in Windows CSE command
  parts/windows/csecmd.ps1
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CSECommand
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CSECommand
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CSECommand
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CSECommand
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CSECommand
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CSECommand
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CSECommand
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CSECommand
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
Labels: windows

#4595 chore: upgrade blob csi driver version in vhd image
  parts/linux/cloud-init/artifacts/components.json
Labels: VHD

#4603 fix: use different variables for vhd and e2e subscriptions
  e2e/windows/README.md
  e2e/windows/e2e-scenario.sh
Labels: windows

#4604 feat: bump Windows CSE script package to v0.0.45
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4555 feat: container insights release 3.1.22 and win-3.1.22
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: VHD

#4598 feat: fix CVE-2006-5051 in Windows VHDs
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, VHD

#4613 feat: update Windows base images to 2024.07B
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows, VHD

#4616 feat: remove public k8s packages
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows

#4633 feat: do not override exitcode when there is no cse package
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
Labels: windows

#4647 feat: remove VHD's patch for 2024.7OOB
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4649 feat: remove exit in testing free space
  vhdbuilder/packer/configure-windows-vhd.ps1
Labels: windows, VHD

#4650 test: skip validating ReofferUpdate for the raw vhd 2024.07oob
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows

#4657 feat: add log events in Windows CSE
  staging/cse/windows/configfunc.ps1
  staging/cse/windows/kubernetesfunc.ps1
Labels: windows cse package

#4658 feat: use msi instead of account key
  vhdbuilder/packer/init-variables.sh
Labels: windows, build

#4617 docs: add Windows image release notes for 2024-7B
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.6054.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.6054.240716.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2582.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2582.240716.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2582.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2582.240716.txt
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1009.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1009.240716.txt
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1009.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1009.240716.txt
Labels: documentation, windows

#4664 bug: rollback Windows base image versions to 6B
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/write-release-notes-windows.ps1
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.6054.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.6054.240716.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2582.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2582.240716.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2582.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2582.240716.txt
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1009.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1009.240716.txt
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1009.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1009.240716.txt
Labels: windows, VHD

#4667 feat: delete the failed image gallery
  vhdbuilder/packer/init-variables.sh
Labels: windows, build

#4669 feat: update the free space size to 1gb in Windows VHDs
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4672 test: check Windows extensions in building VM
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, test

#4674 feat: add tags for skipping policy when building Windows VHD
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/windows-vhd-builder-sig.json
Labels: windows, VHD

#4659 feat: modify windows AgentBaker E2E pipeline
  .pipelines/templates/e2e-windows-template.yaml
  e2e/windows/e2e-helper.sh
  e2e/windows/e2e-starter.sh
Labels: windows

#4686 chore: improve windows automation pipeline
  vhdbuilder/release-notes/autonotes/main.go
  vhdbuilder/scripts/windows/automate_helpers.sh
  vhdbuilder/scripts/windows/automate_version_bump.sh
Labels: windows

#4680 fix: add logs and retry logic for windows vhd building
  vhdbuilder/packer/configure-windows-vhd.ps1
Labels: windows, build

#4670 feat: disable validating ReofferUpdate when pausing Windows SecuritPatch
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4666 chore: upgrade Azure Disk and blob driver versions in vhd image
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4716 feat: build RAW VHD with fixes
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows

#4673 chore: add binaries for 1.27.16, 1.28.12, 1.29.7, 1.30.3
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: VHD

#4724 chore: update Kubernetes Windows packages
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4710 fix: add cleanup of test vm in script
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/cleanup.sh
  vhdbuilder/packer/test/run-test.sh
Labels: windows

#4746 feat: update Windows VHDs for 2024.7B
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/write-release-notes-windows.ps1
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.6054.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.6054.240716.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2582.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2582.240716.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2582.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2582.240716.txt
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1009.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1009.240716.txt
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1009.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1009.240716.txt
Labels: documentation, windows, VHD
