Repository Azure/AgentBaker, pull requests merged in 2024-03, with the labels that each got.

#4130 chore: add Azure File CSI driver v1.28.9 in vhd image
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4129 fix: update win sshd_config for CVE-2023-48795
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Labels: windows, VHD

#4142 chore: cache secrets-store-provider-azure v1.5.1
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4143 fix: add wait step in cleanup.sh
  vhdbuilder/packer/backfill-cleanup.sh
  vhdbuilder/packer/cleanup.sh
Labels: windows

#4151 chore: exclude Windows test data in Linux e2e
  .pipelines/e2e.yaml
Labels: test

#4148 feat: set --node-ip for Windows kubelet in k8s v1.29+
  parts/windows/windowscsehelper.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/azurecnifunc.ps1
Labels: windows, windows cse package

#4152 chore: bump AKS Windows CSE script package to v0.0.40
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4158 fix: avoid running Windows CSE multiple times.
  parts/windows/csecmd.ps1
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CSECommand
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CSECommand
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CSECommand
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CSECommand
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CSECommand
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CSECommand
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
  staging/cse/windows/kubernetesfunc.ps1
Labels: windows

#4166 chore: use the same file name for Windows cse provision complete
  parts/windows/csecmd.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CSECommand
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CSECommand
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S116/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S117/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S118/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119/CSECommand
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CSECommand
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CSECommand
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CSECommand
  pkg/templates/templates_generated.go
Labels: windows

#4168 feat: collect Windows memroy dump in collect-windows-logs.ps1
  staging/cse/windows/debug/collect-windows-logs.ps1
Labels: windows cse package

#4173 chore: cleanup unused cache
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4174 feat: cache Windows containerinsights 3.1.18 image
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4177 feat: validate PR source
  .github/workflows/pull-request.yml
Labels: enhancement, test

#4180 fix: validate pr source
  .github/workflows/validate-pull-request-source.yml
Labels: bug

#4176 chore: update npm windows to v1.5.5
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4175 feat: update Windows base images to 2024.3B
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/write-release-notes-windows.ps1
Labels: windows

#4159 fix: install iscsi package in Mariner 2.0
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  pkg/agent/testdata/AzureLinuxV2+Kata/CustomData
  pkg/agent/testdata/AzureLinuxV2+Kata/line61.sh
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/MarinerV2+CustomCloud/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud/line61.sh
  pkg/agent/testdata/MarinerV2+Kata/CustomData
  pkg/agent/testdata/MarinerV2+Kata/line61.sh
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=true/line61.sh
  pkg/templates/templates_generated.go
Labels: VHD

#4183 docs: add Windows image release notes for 2024-3b
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5576.240316-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5576.240316.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2340.240316-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2340.240316.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2340.240316-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2340.240316.txt
Labels: documentation, windows

#4189 feat: remove the dependency on managedcluster.Properties.AgentPoolProfiles
  pkg/agent/params.go
Labels: windows

#4194 test: assure that CSEResultFilePath is generated by Windows CSE
  e2e/windows/e2e-scenario.sh
  e2e/windows/upload-cse-logs.ps1
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
Labels: windows

#4193 chore: clean up windows client secret used in building vhd
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/windows-vhd-builder-sig.json
Labels: windows

#4196 chore: use containerd v1.7.9 to build 23H2 VHD
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows

#4210 fix: remove deprecated feature gate when default k8s version is 1.28
  e2e/windows/scenarios/windows/property-windows-template.json
Labels: windows

#4212 chore: upgade CSI driver versions
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD

#4154 chore: enable msi for private container images
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/init-variables.sh
Labels: windows
