Repository Azure/AgentBaker, pull requests merged in 2025-09, with the labels that each got.

#6785 chore: bump cilium version to v1.16.10-250610 and v1.17.4-250610
  parts/common/components.json
Labels: components

#6902 feat: Move Flatcar customization from runtime to build time
  parts/linux/cloud-init/flatcar.yml
  pkg/agent/testdata/Flatcar/CustomData
  pkg/agent/testdata/Flatcar/CustomData.inner
  vhdbuilder/packer/flatcar-customdata.json
  vhdbuilder/packer/flatcar-customdata.yaml
Labels: flatcar

#6982 create custom.deb2404-test for containerd v2
  .github/README-RENOVATE.md
  .github/renovate.json
  parts/common/components.json
Labels: components

#6994 add Renovate's repository key to other deb packages
  parts/common/components.json
Labels: components

#6964 chore: update policy addon image
  parts/common/components.json
Labels: components

#7019 chore: cleanup code owners
  CODEOWNERS
Labels: ignore-for-release

#6840 Flatcar "scriptless" support
  e2e/node_config.go
  e2e/scenario_test.go
  parts/linux/cloud-init/artifacts/aks-node-controller.service
Labels: flatcar

#7030 chore: bump cilium v1.16.13-250826 and v1.17.7-250821
  parts/common/components.json
Labels: components

#7048 chore: update apiserver-network-proxy/agent image
  parts/common/components.json
Labels: components

#7065 Upgrade Azure Disk CSI driver v1.32.11
  parts/common/components.json
Labels: components

#7076 chore: upgrade Azure Disk and File CSI driver versions
  parts/common/components.json
Labels: components

#7095 cleanup: remove refs to old members
  .github/README-RENOVATE.md
  .github/renovate.json
  CODEOWNERS
Labels: ignore-for-release

#7099 upgrade Azure File and Blob CSI drivers in vhd image
  parts/common/components.json
Labels: components

#7087 chore: replace cni and cns versions with 1.7.4
  parts/common/components.json
Labels: components
