Repository Azure/AgentBaker, pull requests merged in 2025-05, with the labels that each got.

#6249 chore: cache secrets-store-csi-driver v1.5.0 and secrets-store-provider-azure v1.7.0
  parts/common/components.json
Labels: windows, VHD, components

#6317 chore(deps): update kube-components for 1.33.0
  parts/common/components.json
Labels: components

#6355 chore: upgrade Azure CSI driver versions
  parts/common/components.json
Labels: components

#6366 Bump GRID driver to 550.144.06-20250512225043
  parts/common/components.json
Labels: components

#6370 update cloud node manager images 1.33.0 1.32.5 1.31.6 1.30.12 and 1.29.15
  parts/common/components.json
Labels: components

#6373 chore: upgrade Azure Disk and File CSI driver versions in vhd image
  parts/common/components.json
Labels: components

#6382 renovate rules for servercore and nanoserver
  .github/renovate.json
  parts/common/components.json
Labels: components

#6386 change versioning regexp
  .github/renovate.json
  parts/common/components.json
Labels: components

#6399 fix: update ci agent linux version from 3.1.25 to 3.1.27
  parts/common/components.json
Labels: components

#6403 Timmy/better diff
  .github/workflows/check-windows-packages-change.yml
Labels: windows

#6402 feat: add containerd2 package to ws2025
  .gitattributes
  .github/copilot-instructions.md
  e2e/scenario_win_test.go
  parts/common/components.json
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletServingCertificateRotation/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows/configure-windows-vhd.ps1
Labels: components

#6406 Timmy/windows 2025 nanoserver cache
  .github/workflows/check-windows-packages-change.yml
  parts/common/components.json
Labels: components

#6396 feat: support IMDS restriction on Windows node
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletServingCertificateRotation/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  staging/cse/windows/azurecnifunc.ps1
  staging/cse/windows/azurecnifunc.tests.ps1
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.Expect.EnableIMDSRestriction.conflist
Labels: windows, windows cse package

#6435 Revert "feat: add containerd2 package to ws2025"
  .gitattributes
  .github/copilot-instructions.md
  e2e/scenario_win_test.go
  parts/common/components.json
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletServingCertificateRotation/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows/configure-windows-vhd.ps1
Labels: components
