Repository Azure/AgentBaker, pull requests merged in 2025-01, with the labels that each got.

#5590 feat: add release notes for win 2024-1226 12b
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.6659.241226-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.6659.241226.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2966.241226-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2966.241226.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2966.241226-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2966.241226.txt
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1308.241226-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1308.241226.txt
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1308.241226-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1308.241226.txt
Labels: documentation, windows

#5599 chore: match rollback of cns and cni images on AKS to 1.6.13 for windows
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: bug, cni

#5570 chore: cache secrets-store-csi-driver v1.4.7
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Labels: windows, VHD
